#nav {
    background-color: black;
    padding: 0px 200px 0px 200px;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: url(../images/email-pattern/email-pattern.png);
}

div.row {
    margin-bottom: 0px;
}

#container {
    margin-top: 150px;
    margin-bottom: 100px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 100px 50px;
}

#send {
    background-color: black;
    border-radius: 10px;
}

#footer {
  background-color: black;
}

#footerLinks {
    padding-right: 15px;
}


